* {
    padding: 4px;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(19, 19, 19);

}

.PesentationCard {
    display: inline-block;
    background-color: rgb(34, 34, 34);
    border-color: white;
    border-radius: 6px;

    width: 100%;
    /* Ocupa todo el ancho disponible en pantallas pequeñas */
    max-width: 400px;
    /* Se detiene al llegar a 1200px en pantallas grandes */
    margin: 0 auto;
    /* Opcional: centra el elemento en la pantalla */


}

/* estilo imagen de perfil */
.img-container {
    display: grid;
    place-items: center;
}

.img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.perfil-info {
    text-align: center;
}

/* estilo información de perfil */
.NickName {
    Color: rgb(252, 252, 252);
    font-size: 24px;
}

.country {
    color: rgb(17, 173, 11);
    font-size: 18px;
}

.Presentation {
    Color: rgb(252, 252, 252);
    font-size: 16px;
}

/* Estilo links de contacto */
.Contacts {
    display: flex;
    flex-direction: column;
}

.items-contact {
    background-color: gray;
    Color: rgb(34, 34, 34);
    padding: 10px;
    margin: 6px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 20px;
    text-align:center;
}
.items-contact:hover{
    background-color:rgb(34,34,34);
    border:2px solid white;
    Color:white;
    font-size: 22px;
    font-weight: bold;
    transition:background-color 0.3s ease-in-out, border 0.3s ease-in-out,color 0.3s ease-in-out,font-weight 0.3s ease-in-out,font-size 0.3s ease-in-out;
}